body {
    font-family:  sans-serif;
    font-size: 15px;
  }

.navbar{
    margin-bottom: 0;
    background-image:url('/static/sounds/cover3.jpg');
    color:#fff;
    padding:1%;
    font-size: 1.2em;
    border:0;
}

.navbar-brand{
    float: left;
    min-height: 55px;
}






.navbar-inverse .navbar-nav .active a, .navbar-inverse .navbar-nav .active a:focus, .navbar-inverse .navbar-nav .active a:hover{
    color: #fff;
    background-color: #5E4485;
}

.navbar-inverse .navbar-nav li a{
    color: #D5D5D5;
}

.carousel-caption{
    top: 50%;
    transform: translateY(-50%);
}

.decor{
    color:#e84914;
}
ul{
    margin:0;
    padding:0;
}

.button_1{
    height: 38px;
    background: #e84914;
    border:0;
    padding-left: 20px;
    padding-right: 20px;
    color:#ffffff;
}

.container{
    width:80%;
    margin:auto;
    overflow: hidden;
}

.welcome{
    width: 80%;
    margin: auto;
    text-align: left; 
    padding-bottom: 30px; 
}

.showme{
    
    width:70%;
    margin: auto;
}

.showme2{
    width:70%;
    margin: auto;
}

.welcome1{
    background: 
    /* top, transparent red */
    linear-gradient(
      rgba(255,255,255, 0.80),
      rgba(255,255,255, 0.80)
    ),
    url("/static/sounds/world233.png");
}



  #showcase{
    background-image:url('/static/sounds/cover3.jpg');
	
  
}




.buts{
    background: #e84914;
}
.bfoot{
    width: 90%;
    margin: auto;
    text-align: center;
}

.btn{
    font-size: 18px;
    color: #fff;
    padding: 12px 22px;
    margin-bottom: 10px;
    margin-top: 25px;
    background: #286DA8;
    border:none;
    color:#ffffff;
    font-size: 20px;
}

.btn_1{
    font-size: 18px;
    color: #fff;
    padding: 12px 22px;
    margin-bottom: 10px;
    margin-top: 25px;
    background: #286DA8;
    border:none;
    color:#ffffff;
    font-size: 20px;
}

.contact-forms{
    width:30%;
    margin: auto;
}

#myblog {
    overflow: hidden;
    text-overflow: clip;
    height: 150px;
}


#audio a{
    text-decoration: none;
    color:#35424a;
}

#audio {
    width: 70%;
    margin: auto;
    
}

.letter {
    padding:15px;
    color:#ffffff;
    background-color: #35424a;
}

.data{
    padding: 20px;
    margin-bottom: 20px;
}

.container-bottom{
    width: 80%;
    margin: auto;
}

.fa{
    color: #fff;
    padding: 5px 10px 10px 10px;
    font-size: 18px;
}


.fa a:hover{
    color: #35424a;
}

.container-about{
    width: 80%;
    margin: auto;
    padding: 20px;
}

#mycontent{
    margin: 0px 0px 0px 0px;
}

.detail-container{
    width: 90%;
    margin: auto;
    padding: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
}

footer {
background: #494e6b;
margin-top: 0px;
text-align: center;
color: #ffffff;
padding: 40px;

}

#blogpost{
     background: #f4f4f4;
}
    
#events{
    width: 80%;
    margin: auto;
    
}

#afoot a{
    text-decoration: none;
    color: #fff;
}

#afoot a:hover{
    font-size: 20px;
}

.work{
    width: 35%;
    margin: auto;
    text-align: center;
}


{
    box-sizing: border-box;
  }
  
  /* Style the search field */
  form.example input[type=text] {
    padding: 8px;
    font-size: 17px;
    border: 1px solid grey;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    float: left;
    width: 80%;
    background: #f1f1f1;
  }

form.example input::-webkit-input-placeholder{
    text-align: center;
}

  form.subform input{
    padding: 5px;
    font-size: 17px;
    border: 1px solid grey;
    border-radius: 5px;;
    float: left;
    width: 80%;
    background: #f1f1f1;
    color:#666666;
  }

  
  /* Style the submit button */
  form.example button {
    float: left;
    width: 20%;
    padding: 3.5px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
  }
  
  form.example button:hover {
    background: #0b7dda;
  }
  
  /* Clear floats */
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }

  .searchme{
      width:60%;
      margin: auto;
  }

  #innershow{
      padding: 200px 100px 200px 100px; 
  }

  .search-text{
      color:white;
      font-size: 25px;
  }

.social-me{
    padding:20px;
    height: 100px;
    width:100px ;
    margin-top:50px;
}

#entireshow{
    background: #d3d3d3;
}

.postShowcase{
    background: red;
}

.butse{
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.responsive{
    width:100%;
    height: 220px;
    border-radius: 10px;
}

.responsive2{
    width:100%;
    height: 150px;
    border-radius: 10px;
}

.responsive3{
    width:100%;
    height: auto;
    border-radius: 10px;
}

#three{
    background: #f1f1f1;
}

#articles{
    background: #f1f1f1;
}

#articles2{
    background:#f1f1f1;
}

#threeInner{
    padding: 40px 30px 20px 30px;
    
}

#articlesInner{
    padding: 10px 30px 30px 30px;
}

#articlesInner2{
    padding: 10px 30px 30px 30px;
    
}

#threeInner1{
    background: #fff;
    border: 0.5px solid #d3d3d3;
}

#articleInner1{
    background: #fff;
    border: 0.5px solid #d3d3d3;
}

#articleInner2 {
    overflow: hidden;
    text-overflow: ellipsis;
    height: 70px;
  
}

#outerarticle{
    padding-bottom: 20px;
}

#outerarticle11{
    padding-bottom: 20px;
}

#articleInner3 {
    padding-left:15px;
    padding-right:15px;
    padding-bottom: 15px;
}

#articleBut111{
    border:1px solid #E3E3E5;
	color:#636E7B;
	background:none;
	border-radius:3px;
	font-size:14px;
	padding:6px 10px;
	color:#767B89;
   
}

.view_more {
	background: #3597D4;
	background: -webkit-linear-gradient(#52A2D3 , #1887CC);
	background: linear-gradient(#52A2D3 , #1887CC);
	border:1px solid #3597D4;
	color:#ffffff;
	border-radius:3px;
	font-size:14px;
	padding:10px 70px;
	margin:20px 3px 10px 3px;
}
.view_more2{
    background: #3597D4;
	background: -webkit-linear-gradient(#52A2D3 , #1887CC);
	background: linear-gradient(#52A2D3 , #1887CC);
	border:1px solid #3597D4;
	color:#ffffff;
	border-radius:3px;
	font-size:14px;
	padding:10px 70px;
	margin:10px 3px 10px 3px;
}

#fa-touch{
    color:#767B89;
}

#fa-touch2{
    font-size: 30px;
    color:#767B89;
}



#newsarea{
    background: 
      /* top, transparent red */
      linear-gradient(
        rgba(31,37,50, 0.90),
        rgba(31,37,50, 0.90)
      ),
      url("/static/sounds/letter.jpg");
      color: #ffffff;
    min-height: 300px;
    padding:50px;
    
}

#newsarea2{
    width:70%;
}

.footlinks1{
    padding:20px;
    color:#B5B5B5;
    font-size: 12px;
}

#detail-post{
    background: #d3d3d3;
    padding-top:40px;
    padding-bottom:40px;
}

#detail-post2{
    background: #fff;
    padding:50px;
    width:70%;
    margin:auto;
    border-radius: 10px;
    font-size: 18px;
    
}

#imageside{
    box-shadow: 20px 20px 20px 0px grey;
}

#aboutHouse{
   padding-right: 50px;
}

.quickAnchor{
    color:#666666;
}

@media (min-width:601px) and (max-width:1040px) {
    .carousel-caption{
        display:none;
    }

    #icon{
        max-width: 150px;
    }

    .contact-forms{
        width:80%;
        margin: auto;
    }

    .work{
        width: 80%;
        margin: auto;
        text-align: center;
    }

    .detail-container{
        width: 95%;
        margin: auto;
        padding: 10px;
    }

    #showcase{
        background-image:url('/static/sounds/cover3.jpg');
        max-height: 700px;
    }

    #innershow{
        padding: 150px 60px 50px 60px; 
    }

    .social-me{
        padding:5px;
        margin-top: 60px; 
        height: 50px;
        width:50px 
    }

    .searchme{
        width:100%;
        margin: auto;
    }

    .showme{

        width:85%;
        margin: auto;
    }
    
    #imageside{
        box-shadow: 20px 20px 20px 0px grey;
        width:80%;
        height:auto;
        margin:auto;

       
    }

    .welcome{
        width: 90%;
        margin: auto;
        text-align: left; 
        padding-bottom: 30px; 
    }
    #aboutHouse{
        padding-right: 5px;
     }

     #outerarticle11{
        padding-bottom: 30px;
    }

    #newsarea2{
        width:95%;
    }

    form.subform input{
        padding: 5px;
        font-size: 17px;
        border: 1px solid grey;
        border-radius: 5px;;
        float: left;
        width: 100%;
        background: #f1f1f1;
    }

    .view_more2{
        background: #3597D4;
        background: -webkit-linear-gradient(#52A2D3 , #1887CC);
        background: linear-gradient(#52A2D3 , #1887CC);
        border:1px solid #3597D4;
        color:#ffffff;
        border-radius:3px;
        font-size:14px;
        padding:10px 30px;
        margin:10px 3px 10px 3px;
    }

    #detail-post2{
        background: #fff;
        padding:15px;
        width:90%;
        margin:auto;
        border-radius: 10px;
        font-size: 18px;  
    }
    
}



@media (max-width:600px){
    .carousel-caption{
        display:none;
    }

    #icon{
        max-width: 150px;
    }

    .contact-forms{
        width:80%;
        margin: auto;
    }

    .work{
        width: 80%;
        margin: auto;
        text-align: center;
    }

    .detail-container{
        width: 95%;
        margin: auto;
        padding: 10px;
    }

    #showcase{
        background-image:url('/static/sounds/cover3.jpg');
        max-height: 600px;
    }

    #innershow{
        padding: 100px 10px 50px 10px; 
    }

    .social-me{
        padding:5px;
        margin-top: 60px; 
        height: 50px;
        width:50px 
    }

    .searchme{
        width:100%;
        margin: auto;
    }

    .showme{

        width:95%;
        margin: auto;
    }
    
    #imageside{
        box-shadow: 20px 20px 20px 0px grey;
        width:80%;
        height:auto;
        margin:auto;

       
    }

    .welcome{
        width: 90%;
        margin: auto;
        text-align: left; 
        padding-bottom: 30px; 
    }
    #aboutHouse{
        padding-right: 5px;
     }

     #outerarticle11{
        padding-bottom: 30px;
    }

    #newsarea2{
        width:95%;
    }

    form.subform input{
        padding: 5px;
        font-size: 17px;
        border: 1px solid grey;
        border-radius: 5px;;
        float: left;
        width: 100%;
        background: #f1f1f1;
    }

    .view_more2{
        background: #3597D4;
        background: -webkit-linear-gradient(#52A2D3 , #1887CC);
        background: linear-gradient(#52A2D3 , #1887CC);
        border:1px solid #3597D4;
        color:#ffffff;
        border-radius:3px;
        font-size:14px;
        padding:10px 30px;
        margin:10px 3px 10px 3px;
    }

    #detail-post2{
        background: #fff;
        padding:15px;
        width:90%;
        margin:auto;
        border-radius: 10px;
        font-size: 18px;  
    }
    
}
