{% extends 'base_generic.html' %}


{% block content %}
{% load static %}
{% load bootstrap3 %}


<link rel='stylesheet' href='{% static "sounds/style.css" %}'>
<div class='postShowcase'>
    <section id='articles2'>
        <div class='showme2'>
            <div id='articlesInner2'>
                <br><br>
                <span  style="font-family:Open Sans Condensed; font-size:45px">Audio Messages</span><br><br>
                <div class='row'>
                    <div class="wow zoomInUp" data-wow-delay="0.5s" >
                        {% for audios in audiomessages_list %}
            
                        <div class='col-sm-4' id='outerarticle'>
                            <div id='articleInner1'>
                                <img src='{% static "sounds/wave.png" %}'  class='responsive2' >
                                
                                <div id='articleInner3'>
                                    <span><h4>{{ audios.title }}</h4></span>
                                    <a href='{{audios.link}}' >
                                        <button id='articleBut111' >Download
                                            <span class="symbol-input100">
                                                <i class="fa fa-download" id='fa-touch'></i>
                                            </span>
                                        </button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    
                    {% endfor %}
                    </div>
                </div>

                {% if is_paginated %}
                    <div class="pagination">
                        <span class="page-links">
                            {% if page_obj.has_previous %}
                                <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
                            {% endif %}
                            <span class="page-current">
                                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                            </span>
                            {% if page_obj.has_next %}
                                <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
                            {% endif %}
                        </span>
                    </div>
                {% endif %}
            </div>
        </div>
    </section>
</div>


{% endblock %}
