{% extends 'base_generic.html' %}


{% block content %}
{% load static %}
{% load bootstrap3 %}
<link rel='stylesheet' href='{% static "sounds/style.css" %}'>

<section id='detail-post'>
   
        <div id='detail-post2'>
            <div class='detail-container'>
                <h2 style="font-family: 'Open Sans Condensed', serif; font-size: 50px; color:#666666; text-align:center;">Contact Us</h2>  
                <br><br>
                <form method="post">
                        {% csrf_token %}
                        
                        {% bootstrap_form form  %}
                        <button type="submit" class='btn btn-default'>Send</button>
                    
                </form>
            </div>
        </div>
    </section>
{% endblock %}

