{% extends 'base_generic.html' %}


{% block content %}
{% load static %}
{% load bootstrap3 %}
<link rel='stylesheet' href='{% static "sounds/style.css" %}'>
<div class='contact-forms'> 
        <h2 style="font-family: 'Tangerine', serif; font-size: 50px; color:#e8491d; text-align:center;">Contact US</h2>  
    <form method="post">
            {% csrf_token %}
            
            {% bootstrap_form form  %}
            <button type="submit" class='btn btn-default'>Send</button>
        
    </form>
</div>
{% endblock %}