
{% extends 'base_generic.html' %}


{% block content %}
{% load static %}
{% load bootstrap3 %}
<link rel='stylesheet' href='{% static "sounds/style.css" %}'>
   


     <div class='welcome'>
        <h2 style="font-family: 'Tangerine', serif; font-size: 50px; color:#e8491d; text-align:center;">Welcome to Gate of Sounds</h2>
        <div class='row'>
            <div class='col-md-6'>
                
                <p style='font-size: 20px;'>Gate of Sounds is an Apostolic Centre for a Kingdomic Embassy; Equipping the body of Christ by heavenly sounds of Worship and wisdom Relevant for all spheres of Administration in keeping to God's times and seasons</p>
                <p style='font-size: 20px;'>Gate of Sounds is an Apostolic Centre for a Kingdomic Embassy; Equipping the body of Christ by heavenly sounds of Worship and wisdom Relevant for all spheres of Administration in keeping to God's times and seasons</p>
                <button type='button' class='btn btn-default'>Read More</button>
            </div>
            <div class='col-md-6'>
                <img src="{% static 'sounds/logo33.jpg' %}"  class='img-responsive' height="250" width="450">
            </div>
        </div>
        <hr style='border-color:#35424a; border-width: 3px'>
    </div>



     <div class='container-bottom'>
         <div class = 'trial'>
             <h1 style="font-family: 'Tangerine', serif; font-size: 58px; color:#e8491d; text-align:center;">Articles</h1>
             
             {% for posts in post %}
             <div id='myblog'>
                <h3>{{ posts.title }}</h1>
                <h4>{{ posts.date }}</h4>
                <p>{{ posts.body }}</p>
            </div>
            <button type='button' class='btn btn-default'>Continue Reading</button>
            <hr style='border-color:#35424a;'>
             {% endfor %}
            <div class='text-center'><button type='button' class='btn btn-default'>View Older Posts</button></div> 
             <hr style='border-color:#35424a; border-width: 3px'>
         </div>  
    </div>

    <div  class='text-center' id='audio'>
            <h2 style="font-family: 'Tangerine', serif; font-size: 58px; color: #e8491d;">Audios</h2>
            <h3 ><a style="font-family: 'Ubuntu', serif; font-size: 20px;" href='#'>Altars and Throne Powers</a></h3>
            <h3 ><a style="font-family: 'Ubuntu', serif; font-size: 20px;" href='#'>Benue Cry</a></h3>
            <h3 ><a style="font-family: 'Ubuntu', serif; font-size: 20px;" href='#'>Systems of Princes in Benue</a></h3>
            <h3 ><a style="font-family: 'Ubuntu', serif; font-size: 20px;" href='#'>Benue at 42</a></h3>
            <h3 ><a style="font-family: 'Ubuntu', serif; font-size: 20px;" href='#'>Throne Worship</a></h3>
            <button type='button' class='btn btn-default'>view more</button>
            
    </div>

    <div class='text-center' id='events'>
            <hr style='border-color:#35424a; border-width: 3px'>
            <h2 style="font-family: 'Tangerine', serif; font-size: 58px; color: #e8491d;">Upcoming Events</h2>
            <p style="font-family: 'Ubuntu', serif; font-size: 30px;">No Events to Display</p>
    </div>

    

  
{% endblock %}