{% extends 'base_generic.html' %}


{% block content %}
{% load static %}
{% load bootstrap3 %}
<link rel='stylesheet' href='{% static "sounds/style.css" %}'>
<section id='detail-post'>
   
    <div id='detail-post2'>
        <div class='detail-container'>
                <h3 style="font-family:Open Sans Condensed; font-size:45px"><strong>{{ post.title }}</strong></h3>
                <h4><i>{{ post.date }}</i></h4><br>
                <p>{{ post.body }}</p>
        </div>
    </div>
</section>
{% endblock %}