
<!DOCTYPE html>
<!DOCTYPE html>
<html>

<head>
    <title>Gate of SOunds</title>
    {% load static %}
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu:italic">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel='stylesheet' href='{% static "sounds/style.css" %}'>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-2598542896923765",
    enable_page_level_ads: true
  });
</script>

    
</head>

<body>
    {% block header %}
    <nav class='navbar navbar-inverse'>
            <div class='container-fluid'>
                    <div class='navbar-header'>
                            <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='#MyNavBar'>
                                <span class='icon-bar'></span>
                                <span class='icon-bar'></span>
                                <span class='icon-bar'></span>
                            </button>
                            <a  class='navbar-brand' style="font-family: 'Tangerine', serif; font-size: 48px; color:#ffffff;" href='{% url "index" %}'>Gate of Sounds</a>
                    </div>
                    <div class='collapse navbar-collapse'  id='MyNavBar'> 
                        <ul class='nav navbar-nav navbar-right' style="font-size: 16px; padding-right:100px">
                            <li ><a href='{% url "index" %}'>Home</a></li>
                            <li><a href='{% url "contact" %}'>Contact</a></li>
                            <li><a href='{% url "about" %}'>About</a></li>
                        </ul>
                    </div>
            </div>
    </nav>
    {% endblock %}
        
        
        <div id='mycontent'>
        {% block content %}
        {% endblock %}
        </div>
        
        <footer class='container-fluid text-center' id='afoot' >
                <a  class='' style="font-family: 'Tangerine', serif; font-size: 48px; color:#ffffff;" href='{% url "index" %}'>Gate of Sounds</a><br>
                <a href="#" class='footlinks1' style='color:#B5B5B5;'>Home</a>
                <a href="#" class='footlinks1' style='color:#B5B5B5;'>About Us</a>
                <a href="#" class='footlinks1' style='color:#B5B5B5;'>contact us</a><br><br>
                <p  style='color:#B5B5B5; font-size:12px'>Copyright 2018, Gate of sounds</p>
            </footer>
            
</body>

</html>